In [1]:
import pandas as pd
# Read the posts CSV from the web import
pd.set_option('display.max_rows', None)    
posts = pd.read_csv("all_posts.csv", parse_dates=True)
# posts
posts.loc[posts['categories'].isin(['Pandas', 'Jupyter'])]

,title,url,date,categories,word_count
0,Python Data Analysis Starter Project,https://codesolid.com/python-data-analysis-sta...,2022-12-05T12:48:18,Pandas,654
1,How to Visualize Data Using Pandas,https://codesolid.com/how-to-visualize-data-us...,2022-12-02T07:13:51,Pandas,2514
3,Using SQL With Pandas: PandasSQL and IPython-SQL,https://codesolid.com/sql-with-pandas/,2022-11-28T11:00:00,Pandas,1871
4,Large Data Sets in Python: Pandas And The Alt...,https://codesolid.com/large-data-sets-in-pytho...,2022-11-18T06:54:00,Pandas,2583
18,Run Python Online: Watch the Video to Learn How,https://codesolid.com/run-python-online-with-j...,2022-09-20T08:04:15,Jupyter,44
19,Jupyter Lite: Python in the Browser with Serv...,https://codesolid.com/jupyter-lite-python-in-t...,2022-09-14T16:59:00,Jupyter,1456
20,Jupyter Password: Easy Notebook and Lab Config...,https://codesolid.com/jupyter-password/,2022-09-12T13:02:00,Jupyter,828
22,How to Use the Pandas Groupby Method?,https://codesolid.com/pandas-groupby/,2022-09-08T13:21:00,Pandas,2054
63,How to Work With Google Sheets In Python and P...,https://codesolid.com/google-sheets-in-python-...,2022-03-11T15:40:00,Pandas,1797
64,Jupyter Notebook: A Complete Introduction,https://codesolid.com/jupyter-notebook-a-compl...,2022-03-05T16:50:00,Jupyter,2151
67,My Journey to Beautiful Documentation With Jup...,https://codesolid.com/beautiful-documentation-...,2022-02-19T09:31:29,Jupyter,1698

,title,url,date,categories,word_count
0,Python Data Analysis Starter Project,https://codesolid.com/python-data-analysis-sta...,2022-12-05T12:48:18,Pandas,654
1,How to Visualize Data Using Pandas,https://codesolid.com/how-to-visualize-data-us...,2022-12-02T07:13:51,Pandas,2514
3,Using SQL With Pandas: PandasSQL and IPython-SQL,https://codesolid.com/sql-with-pandas/,2022-11-28T11:00:00,Pandas,1871
4,Large Data Sets in Python: Pandas And The Alt...,https://codesolid.com/large-data-sets-in-pytho...,2022-11-18T06:54:00,Pandas,2583
18,Run Python Online: Watch the Video to Learn How,https://codesolid.com/run-python-online-with-j...,2022-09-20T08:04:15,Jupyter,44
19,Jupyter Lite: Python in the Browser with Serv...,https://codesolid.com/jupyter-lite-python-in-t...,2022-09-14T16:59:00,Jupyter,1456
20,Jupyter Password: Easy Notebook and Lab Config...,https://codesolid.com/jupyter-password/,2022-09-12T13:02:00,Jupyter,828
22,How to Use the Pandas Groupby Method?,https://codesolid.com/pandas-groupby/,2022-09-08T13:21:00,Pandas,2054
63,How to Work With Google Sheets In Python and P...,https://codesolid.com/google-sheets-in-python-...,2022-03-11T15:40:00,Pandas,1797
64,Jupyter Notebook: A Complete Introduction,https://codesolid.com/jupyter-notebook-a-compl...,2022-03-05T16:50:00,Jupyter,2151
67,My Journey to Beautiful Documentation With Jup...,https://codesolid.com/beautiful-documentation-...,2022-02-19T09:31:29,Jupyter,1698

In [3]:
# Summarize by Month and Year
posts.index = pd.DatetimeIndex(posts.date)
group1 = posts.groupby([(posts.index.year), (posts.index.month)]).sum("words")
# group1.columns = ["year", "date", "word_count"]
group2 = posts.groupby([(posts.index.year), (posts.index.month)]).count()
merged = group1.merge(group2, left_index=True, right_index=True)
result = merged.loc[:, ["word_count_x", "title"]]
result.columns = ["word_count", "number_of_posts"]
result["average_post"] = result.word_count / result.number_of_posts
result
#group2
#group2

           word_count  number_of_posts  average_post
date date
2009 10            99                1     99.000000
2013 7            813                1    813.000000
2018 7            541                1    541.000000
2019 2           1530                1   1530.000000
2021 3            305                1    305.000000
     11          2138                3    712.666667
     12         10645               13    818.846154
2022 1          22286               11   2026.000000
     2          18785               10   1878.500000
     3          24043               10   2404.300000
     4          22989               10   2298.900000
     5          23747                7   3392.428571
     6          13272                6   2212.000000
     7          10800                4   2700.000000
     8          13175                6   2195.833333
     9          12696                7   1813.714286
     10         14676                7   2096.571429
     11          9300                7   1328.571429
     12          3168                2   1584.000000

In [4]:
stats = {"Word Count Sum": [result.word_count.sum()], 
         "Total Posts:  ": [result.number_of_posts.sum()], 
         "Average post length": [result.word_count.sum() / result.number_of_posts.sum()]}
summary = pd.DataFrame(stats)
summary

   Word Count Sum  Total Posts:    Average post length
0          205008             108          1898.222222

In [5]:
new_posts = result.iloc[5:,:]

stats = {"Word Count Sum": [new_posts.word_count.sum()], 
         "Total Posts:  ": [new_posts.number_of_posts.sum()], 
         "Average post length": [new_posts.word_count.sum() / new_posts.number_of_posts.sum()]}
summary_new = pd.DataFrame(stats)
summary_new

   Word Count Sum  Total Posts:    Average post length
0          201720             103          1958.446602